<nav class="sticky lg:hidden top-0 z-50 bg-white" id="main-nav-mobile">
  <div class="max-h-[50px] flex gap-4 justify-center items-center py-2">
    <div class="h-[40px] w-[40px]">
      <img class="w-full h-full object-cover" src="./assets/logo.png" alt="Squirrel logo">
    </div>
    <p class="font-[Nova_Slim] text-xl m-0">szmudart</p>
    <div class="absolute hmb-container">
      <span class="hmb-line"></span>
      <span class="hmb-line"></span>
      <span class="hmb-line"></span>
    </div>
  </div>
  <div class="mobile-menu-container">
    <ul class="mobile-menu-items flex flex-col justify-center items-center gap-8 w-full text-xl" >
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#about">JAK TO WYGLĄDA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#services">OFERTA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#gallery">REALIZACJE</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#cooperation">WSPÓŁPRACA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#contact">KONTAKT</a>
      </li>
    </ul>
  </div>
</nav>