<nav class="hidden lg:block lg:sticky top-0 z-50 bg-white" id="main-nav">
  <div class="max-h-[200px] flex flex-col items-center logo-section transition-all duration-300 ease-in-out overflow-hidden">
    <div class="my-8 w-[170px] h-[130px] border rounded-2xl">LOGO</div>
    <p class="font-[Nova_Slim] text-2xl">buda kawa art cafe</p>
  </div>
  <div class="flex items-center min-w-3/4 h-[80px] m-auto py-4">
    <ul class="flex justify-center items-center gap-16 w-full text-xl">
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#about">JAK TO WYGLĄDA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#services">OFERTA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#gallery">REALIZACJE</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#cooperation">WSPÓŁPRACA</a>
      </li>
      <li class="menu-item cursor-pointer relative hover:text-primary-orange">
        <a href="#contact">KONTAKT</a>
      </li>
    </ul>
  </div>
</nav>