<nav class="lg:sticky top-0 z-50 bg-white">
  <div class="flex items-center justify-between h-[80px] w-full pt-8 pt-2 px-4">
    <div class="flex items-center gap-4">
      <div class="cursor-pointer">
        {% svgIcon 'instagram.svg' %}
      </div>
      <div class="cursor-pointer">
        {% svgIcon 'facebook.svg' %}
      </div>
      <div>tel. +48 600 700 800</div>
    </div>
    <div class="">
      <ul class="flex items-center gap-4 text-xl" id="main-nav">
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#about">o florze</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#services">usługi</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#gallery">galeria</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#contact">kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>