<nav class="sticky top-0 z-50 lg:hidden bg-white shadow-md">
  <div class="flex flex-col items-center justify-between h-[80px] px-4">
    <div class="flex items-center gap-8">
      <div class="cursor-pointer">
        {% svgIcon 'instagram.svg' %}
      </div>
      <div class="cursor-pointer">
        {% svgIcon 'facebook.svg' %}
      </div>
      <div><a href="tel:600 700 800">tel.: +48 600 700 800</a></div>
    </div>
    <div class="pb-4">
      <ul class="flex items-center justify-center gap-8 text-xl" id="main-nav-mobile">
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 -translate-x-1/2 translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#about">o florze</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#services">usługi</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#gallery">galeria</a>
        </li>
        <li class="cursor-pointer relative hover:text-primary-red">
          <span class="nav-icon absolute left-1/2 transform -translate-x-1/2 translate-y-1/2">
            {% svgIcon 'flower.svg' %}
          </span>
          <a href="#contact">kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>