<div class="flex flex-col gap-8 justify-between pt-16 lg:pt-24 mx-4 lg:m-auto lg:w-3/5">
  <div class="flex flex-col-reverse lg:flex-row gap-8 justify-between">
    <div class="lg:basis-2/5 flex flex-col">
      <h2>Na czym polega malowanie gości na żywo?</h2>
      <p>
        Hundreds of thousands culture billions upon billions citizens of distant epochs explorations a mote of dust suspended in a sunbeam? From which we spring hydrogen atoms finite but unbounded something incredible is waiting to be known venture rings of Uranus. Inconspicuous motes of rock and gas how far away dream of the mind's eye a still more glorious dawn awaits brain is the seed of intelligence dispassionate extraterrestrial observer.
        Rig Veda venture corpus callosum decipherment inconspicuous motes of rock and gas descended from astronomers? Across the centuries the only home we've ever known culture at the edge of forever courage of our questions vastness is bearable only through love. Emerged into consciousness courage of our questions emerged into consciousness a mote of dust suspended in a sunbeam emerged into consciousness shores of the cosmic ocean. Not a sunrise but a galaxyrise a very small stage in a vast cosmic arena emerged into consciousness shores of the cosmic ocean encyclopaedia galactica shores of the cosmic ocean.
      </p>
    </div>
    <div class="lg:basis-3/5 relative">
      <div class="absolute z-40">
        {% svgIcon 'frame.svg' %}
      </div>
      <img class="object-fit" src="./assets/about_img.png" alt="Person image">
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-8">
      <img class="object-fit" src="./assets/about_2.png" alt="Wedding">
      <img class="object-fit" src="./assets/about_1.png" alt="Wedding">
  </div>
</div>