<div class="h-screen p-8 flex flex-col carousel" id="carousel">
  <div class="flex justify-end items-center h-24 ">
    <img src="./assets/flower.svg" alt="flower icon" width="40" height="40" class="cursor-pointer carousel-arrow carousel-arrow-right transition-transform duration-200 transform-origin-center hover:rotate-90">
  </div>
  <div class="flex flex-grow carousel-content my-4">
    <img class="h-full w-full object-cover w-full lg:w-1/3" src="./assets/galeria1.webp" alt="nice flowers">
    <img class="h-full w-full object-cover w-full lg:w-1/3" src="./assets/galeria2.webp" alt="colorful flowers">
    <img class="h-full w-full object-cover w-full lg:w-1/3" src="./assets/galeria3.webp" alt="yellow flowers">
    <img class="h-full w-full object-cover w-full lg:w-1/3" src="./assets/galeria4.webp" alt="green flowers">
    <img class="h-full w-full object-cover w-full lg:w-1/3" src="./assets/galeria5.webp" alt="birthday flowers">
  </div>
  <div class="flex justify-start items-center h-24 ">
    <img src="./assets/flower.svg" alt="flower icon" width="40" height="40" class="mr-auto cursor-pointer carousel-arrow carousel-arrow-left transition-transform duration-200 transform-origin-center hover:rotate-90">
  </div>
</div>