<div class="mx-4 lg:mx-auto lg:w-3/5 pt-24">
  <h2>Realizacje</h2>
  <p>Fotki i foteczki ulala.</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
    <div class="relative w-full aspect-square">
      <img src="https://tse2.mm.bing.net/th/id/OIP.KSsqjDSHngqVXP1seUEY6QHaFj?pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
    <div class="relative w-full aspect-square">
      <img src="https://tse4.mm.bing.net/th/id/OIP.MrE1onEFFzdxkuT9zi6uQQHaEo?r=0&pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
    <div class="relative w-full aspect-square">
      <img src="https://tse1.mm.bing.net/th/id/OIP.YkMqqhL7O0DEG-JQPCCcJgHaGM?r=0&pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
    <div class="relative w-full aspect-square">
      <img src="https://tse3.mm.bing.net/th/id/OIP.ug55LB5f6qjAEqwU0rIAXQHaHa?pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
    <div class="relative w-full aspect-square">
      <img src="https://tse3.mm.bing.net/th/id/OIP.QPUcy4VpOslXkWmuFGi9NwHaEJ?pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
    <div class="relative w-full aspect-square">
      <img src="https://tse2.mm.bing.net/th/id/OIP.aYrxc6HFw3Hx012rrxgb5QHaJG?pid=Api" alt="Person image" class="absolute h-full w-full object-cover">
    </div>
  </div>
</div>