<div class="mx-4 lg:w-3/5 flex flex-col pt-32 lg:mx-auto">
  <h2>Jak wygląda nasza współpraca?</h2>
  <div class="bg-white rounded-2xl px-4">
    <p class="text-2xl">
      Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.
      Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.
      Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.
    </p>
    <p class="text-2xl">My faith teaches me that I can sit in church and pray all I want, but I won't be fulfilling God's will unless I go out and do the Lord's work. They all have different stories and reasons.
        They know those things. From Willow Creek to the 'emerging church,' from the Southern Baptist Convention to the National Association of Evangelicals, folks are realizing that the four walls of the church are too small for a big God.God is still speaking. I will rebuild our military to meet future conflicts. It's a promise I make to my daughters when I tuck them in at night, and a promise that you make to yours - a promise that has led immigrants to cross oceans and pioneers to travel west; a promise that led workers to picket lines, and women to reach for the ballot. America's strong bonds with Israel are well known.
        We the people, in order to form a more perfect union." Throughout the first year of this campaign, against all predictions to the contrary, we saw how hungry the American people were for this message of unity. You understand that in this election, the greatest risk we can take is to try the same old politics with the same old players and expect a different result.
        And there's another issue we must confront as well. Well it's time for them to own their failure. And when innocents in Bosnia and Darfur are slaughtered, that is a stain on our collective conscience. The issues that I have described will not be easy to address.
    </p>
  <p class="text-2xl">
    Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.
    Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.
    Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.
  </p>
  </div>
</div>