<div class="relative h-full">
  <h2 class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[120px]">flora</h2>
  {# <img class="h-full w-full object-cover" src="./assets/florist-movie_1.gif" alt="Flower image"> #}
</div>