<div class="flex flex-col-reverse lg:flex-row lg:gap-16 lg:h-screen p-4 lg:p-8">
  <div>
    <img class="h-full w-full object-cover" src="./assets/flora_2.webp" alt="Red flowers">
  </div>
  <div class="basis-1/2 flex flex-col lg:gap-64 py-8 lg:py-32">
    <p class="text-2xl lg:text-right">
      W kwiaciarni <span class="text-bold">flora</span>
      oferujemy szeroki zakres usług florystycznych, dopasowanych do różnych okazji i potrzeb.
      Tworzymy wyjątkowe wiązanki i bukiety okolicznościowe – od romantycznych kompozycji ślubnych, przez eleganckie dekoracje na uroczystości rodzinne, aż po subtelne kwiaty na ostatnie pożegnanie.
      Każda aranżacja powstaje z sercem, przy użyciu świeżych kwiatów i z dbałością o każdy detal, by wyrazić emocje tam, gdzie czasem brakuje słów.
    </p>
    <p class="text-2xl font-bold mt-8 lg:mt-0 lg:text-right">
      Abyśmy mogli przygotować wiązankę dedykowaną
      Twoim potrzebom odwiedź nas na miejscu,
      lub skontaktuj się z nami telefonicznie:+48 602 734 233
    </p>
  </div>
</div>