<div class="flex flex-col lg:flex-row lg:gap-8 justify-between lg:h-screen p-8">
  <div class="basis-3/4 flex flex-col items-center py-8 lg:py-32 relative">
    <p class="text-2xl">
      Jesteśmy dla Was dostępni:
      <br/>
      <br/>
      <p class="text-2xl font-bold">pon.-pt.: 9:00-19:00</p>
      <p class="text-2xl font-bold">sb.-ndz.: 10:00-15:00</p>
    </p>
    <br/>
    <p class="text-2xl">
      przy ulicy
      <p class="font-bold text-2xl">Gdańskiej 22 w Bydgoszczy</p>
    </p>
    <br/>
    <p class="text-2xl">
      oraz pod nr tel.
      <p class="font-bold text-2xl">+48 600 700 800</p>
    </p>
    <img src="./assets/flower.svg" alt="flower icon" width="45" height="45" class="hidden lg:block top-3/4 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  </div>
  <div>
    <img class="h-full w-full object-cover" src="./assets/kontakt.webp" alt="Violet flowers">
  </div>
</div>